/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

#hardware img {
	max-width: 540px;
} 

.intro h2 {
	font-family: "Sans Bold", sans-serif;
	width: 60%;
}

h2, h3, h4 {
	font-family: "Sans Bold", sans-serif;
}

nav .btn {
	margin-top: calc(var(--spacing-small) * 1.25);
	margin-bottom: calc(var(--spacing-small) * 1.25);
	font-size: calc(var(--font-size-xsmall) * 1.125);
}

header nav a {
	font-size: calc(var(--font-size-xsmall) * 1.125);
}

nav .btnLrg {
	padding: calc(var(--spacing-small) * 1.5) var(--spacing-base) !important;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
