/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {
	.banner {
		background-color: #7D25C1;
	}
}

@media (prefers-color-scheme: dark) {
	.banner {
		background-color: var(--color-dark-translucent) !important;
	}
	.banner p {
		color: white !important;
	}
	header {
		outline: var(--border-light);
	}
}

#hardware img {
	max-width: 540px;
} 

header {
	width: fit-content;
	margin: 1rem auto 0 auto;
	border-radius: 10rem;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.1);
}

header .wrapper {
	padding: 0 .5rem;
}

header .logo {
	margin: 0 2rem 0 .5rem;
}

nav .btn {
	margin: .5rem 0;
}

.intro img {
	transform: translateY(-50%);
	top: 55%;
}

h3 {
	font-family: "Sans Bold", sans-serif;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
