@media (prefers-color-scheme: light) {
  .glow h1 {
    background: rgb(218, 3, 253);
    background: var(--gradient-lm);
  }

  .glow .headline p {
    background: rgb(218, 3, 253);
    background: var(--gradient-lm);
  }

}

@media (prefers-color-scheme: dark) {
  .glow h1 {
    background: rgb(233, 98, 253);
    background: var(--gradient-dm);
  }

  .glow .headline p {
    background: rgb(233, 98, 253);
    background: var(--gradient-dm);
  }
}

.glow ::selection {
  background-color: var(--theme-glow);
}

.glow .tabs a:hover {
  border-bottom: 3px solid var(--theme-glow);
}

.glow .tabs a.selected {
  border-bottom: 3px solid var(--theme-glow);
}

.glow .highlight {
  background-color: var(--theme-glow);
}

.glow .primaryBtn {
  background-color: var(--theme-glow);
  color: var(--font-color-light);
}

.glow .primaryBtn:hover {
  background-color: #7B2AF4;
}

.glow h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow .headline p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
