<section id="contact">
  <div class="wrapper">
    <h2>Contact Section</h2>
    <div class="description">
      <p class="emoji">✌️</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <ul>
        <li>💼 <a href="">View Component Code</a></li>
        <li>🐦 <a href="">Twitter</a></li>
        <li>🧑‍💻 <a href="">Github</a></li>
      </ul>
    </div>
  </div>
</section>
