<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Glenn Sorrentino">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>💼 Simple Design System Base Template</title>

	<link rel="stylesheet" href="https://glenn-sorrentino.github.io/design-system/css/style.css">

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://glenn-sorrentino.github.io/design-system/js/main.js"></script>

</head>

<body>

	<!-- ADD A HEADER BELOW THIS LINE - https://github.com/glenn-sorrentino/design-system/blob/main/components/header/html/header.html -->

	<!-- ADD AN INTRO SECTION BELOW THIS LINE - https://github.com/glenn-sorrentino/design-system/tree/main/components/intro/html  -->

	<!-- CONTENT -->

	<section class="content wrapper">

		<!-- ADD CONTENT WITHIN THIS SECTION. FOR A NEW Add your content within this section - https://github.com/glenn-sorrentino/design-system/tree/main/components  -->

	</section>

	<!-- ADD A FOOTER BELOW THIS LINE - https://github.com/glenn-sorrentino/design-system/tree/main/components/footer/html/footer.html-->

</body>

</html>
