<header>
	<div class="wrapper">
		<h1 class="logo"><a href="#">Simple Design System</a></h1>
		<nav>
			<a class="navButton" href="#">
				<div class="menu"></div>
			</a>
			<ul>
				<li><a href="#">Section 1</a></li>
				<li><a href="#">Section 2</a></li>
				<li><a href="#">Section 3</a></li>
				<li><a href="#">Section 4</a></li>
				<li><a class="btn primaryBtn" href="#">Primary</a></li>
			</ul>
		</nav>
		<nav class="staged">
			<a class="navButton closeButton" href="#">
				<div class="close"></div>
			</a>
			<ul>
				<li><a href="#">Section 1</a></li>
				<li><a href="#">Section 2</a></li>
				<li><a href="#">Section 3</a></li>
				<li><a href="#">Section 4</a></li>
				<li><a class="btn primaryBtn" href="#">Primary</a></li>
			</ul>
		</nav>
	</div>
</header>
