<header>
  <div class="wrapper">
    <div class="logo">
      <div class="logoMark"></div>
      <h1><a href="#">Simple Design System</a></h1>
    </div>
    <nav class="navItems">
      <ul>
        <li><a class="wrapper" href="#section1">Nav Link</a></li>
        <li><a class="wrapper" href="#section2">Section 2</a></li>
        <li><a class="wrapper" href="#section3">Section 3</a></li>
        <li><a class="wrapper" href="#section4">Section 4</a></li>
        <li><a role="button" class="btn primaryBtn" href="#contact">Primary Button</a></li>
      </ul>
    </nav>
    <nav class="mobileNav">
      <a><span class="btnIcon"></span></a>
    </nav>
  </div>
</header>
