<header>
	<div class="wrapper">
		<h1 class="logo"><a href="#">Simple Design System</a></h1>
		<nav>
			<a class="navButton" href="#">
				<div class="menu"></div>
			</a>
			<ul>
				<li><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/header/header.html" target="_blank">View Component Code</a></li>
				<li><a href="#section2">Section 2</a></li>
				<li><a href="#section3">Section 3</a></li>
				<li><a href="#section4">Section 4</a></li>
				<li><a class="btn primaryBtn" href="https://github.com/glenn-sorrentino/design-system" target="_blank">Contribute</a></li>
			</ul>

		</nav>
		<nav class="staged">
			<a class="navButton closeButton" href="#">
				<div class="close"></div>
			</a>
			<ul>
				<li><a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/header/header.html" target="_blank">View Component Code</a></li>
				<li><a href="#section2">Section 2</a></li>
				<li><a href="#section3">Section 3</a></li>
				<li><a href="#section4">Section 4</a></li>
				<li><a class="btn primaryBtn" href="https://github.com/glenn-sorrentino/design-system" target="_blank">Contribute</a></li>
			</ul>
		</nav>
	</div>
</header>
