@media (prefers-color-scheme: light) {
  .intro {
    background-color: white;
  }

  .intro .code {
    background-color: white !important;
  }

  p.hint {
    color: var(--color-label-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .intro {
    background-color: var(--color-shade-dm);
  }

  p.hint {
    color: var(--color-label-dm);
  }
}

.intro {
  height: 100vh;
  align-items: center;
  position: relative;
  justify-content: center;
  background: url('../../../images/website/cover.png') right 2rem top 25vh;
  background-repeat: no-repeat;
  background-size: 375px !important;
}

.intro h2 {
  width: 55%;
  margin-top: 0 !important;
}

.intro .code {
  padding: var(--spacing-small) var(--spacing-base);
}

.intro .meta {
  font-size: calc(var(--font-size-small) * .875) !important;
  margin-top: 1.5rem !important;
  margin-bottom: .5rem !important;
}

.intro .code p {
  width: 100%;
  margin-bottom: 0 !important;
  font-size: var(--font-size-code) !important;
}

.intro .btn {
  margin-top: var(--spacing-medium);
}

.articleIntro .category + h2 {
  margin-top: var(--spacing-base) !important;
}

.intro .tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0 !important;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
  transition: .3s;
  max-width: calc(1280px + var(--spacing-base) * 2);
}

.intro p:first-of-type {
  margin: 0;
    font-size: 1rem;

}

.intro p:last-of-type {
  margin-bottom: 0;
}

.intro .toggleContainer {
  margin-bottom: 0;
}

.secondaryIntro {
  height: 80vh;
  max-height: 639px;
}

.secondaryIntro + section h3 {
  margin-top: var(--spacing-medium) !important;
}

.secondaryIntro + article h3:first-of-type {
  margin-top: 0 !important;
}

.secondaryIntro + article .highlights h3 {
  margin-top: 0 !important;
}

p.hint {
  position: absolute;
  bottom: var(--spacing-base);
  margin-bottom: 0 !important;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: var(--font-size-xsmall) !important;
  animation: floating 3s ease infinite;
  max-width: max-content !important;
  transition: .3s;
  font-family: 'Sans Bold';
}

p.hint a {
  text-decoration: none;
}

.fade {
  opacity: 0 !important;
}

@media only screen and (max-width: 1280px) {
  .intro h2,
  .intro p {
    width: 50%;
  }

  .intro {
  }
}

@media only screen and (max-width: 1024px) {
  .intro {
    background-size: 320px !important;
  }

  .intro h2,
  .intro p {
    width: 50%;
  }

}

@media only screen and (max-width: 960px) {
  .intro h2,
  .intro p {
    width: 50%;
  }

    .intro {
      background-position-x: right 1rem;
      background-size: 280px !important;
    }
}

@media only screen and (max-width: 768px) {
  .intro .tabs {
    padding: 0 var(--spacing-small);
  }

  .intro {
    background-position-x: right -5rem;
    background-size: 260px;
  }
}

@media only screen and (max-width: 640px) {
  .intro h2,
  .intro p {
    width: 100%;
    text-align: center;
  }

  .intro {
    background-position-x: center;
    background-position-y: top 75vh;
    background-size: 50%;
  }

  .intro .code {
    align-self: center;
    margin-bottom: 15vh !important;
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    background-position-y: top 80vh;
  }

  .intro .code {
    padding: var(--spacing-small) var(--spacing-small);
  }
}
