@media (prefers-color-scheme: light) {
  aside {
    background-color: #FCFCFC;
  }
}

@media (prefers-color-scheme: dark) {
  aside {
    background-color: #2E2E2E;
  }
}

#builder * {
  transition: none;
}

p.hint {
  transition: all 0.3s !important;
}

#builder .utilityIcon:hover {
  transition: all 0.3s !important;
}

#builder {
  margin: 0;
  max-width: none;
}

.canvas {
  width: 75%;
  margin-bottom: 0;
  transition: all 0.3s !important;
}

.canvas header {
  right: 25%;
  z-index: 2;
}

aside {
  width: 25%;
  padding: var(--spacing-medium);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-small);
  overflow-y: scroll;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s !important;
}

#builder header {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

#builder nav.staged {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

aside .navButton {
  top: var(--spacing-medium);
}

.wide {
  width: 100% !important;
  right: 0;
}

.canvas .btn {
  transition: all 0.3s !important;
}

/* HIDE SCROLLBARS */
/* #builder::-webkit-scrollbar {
 display: none;
}

#builder {
-ms-overflow-style: none;
scrollbar-width: none;
}

aside::-webkit-scrollbar {
 display: none;
}

aside {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
@media only screen and (max-width: 960px) {
  .canvas header h1 {
    float: none;
    margin-top: 0;
  }

  .canvas header nav ul {
    display: none;
  }

  .canvas nav.staged ul {
    display: inherit;
  }

  .canvas .navButton, .close, .menu {
    display: inherit !important;
  }

  .canvas .headline p:last-of-type {
    margin-bottom: var(--spacing-base) !important;
  }

  .canvas .secondaryIntro {
    margin-top: 70px;
  }

  .canvas .intro.withNav {
    height: calc(100vh - 48px) !important;
  }

  .canvas .secondaryIntro.withNav {
    height: inherit !important;
  }

  .canvas .secondaryIntro.withNav {}

  .canvas .articleIntro {
    height: calc(100vh - 70px) !important;
  }

  .canvas .articleIntro.withNav {
    height: calc(100vh - 70px - 48px) !important;
  }

  aside {
    width: 33%;
    padding: var(--spacing-base) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
  }

  aside .navButton {
    top: var(--spacing-base);
  }

  .canvas {
    width: 67%;
  }

  .canvas header {
    right: 33%;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 768px) {
  .canvas {
    width: 100vw;
  }

  .canvas header {
    width: 100vw;
  }

  aside {
    width: 40vw;
    z-index: 2;
  }
}

@media only screen and (max-width: 640px) {
  aside {
    width: 80vw;
    z-index: 2;
  }
}
