@media (prefers-color-scheme: light) {
  .highlights {
    background-color: var(--color-shade-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .highlights {
    background-color: var(--color-shade-dm);
  }
}

.articleBody h2, .articleBody h3, .articleBody h4, .articleBody h5 {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    /* width: 100%; */
}


article {
  margin-bottom: var(--spacing-xxlarge);
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

article p {
  line-height: var(--line-height-article);
  font-size: var(--font-size-article);
}

article img {
  max-width: 768px;
}

article .wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.articleBody h2, .articleBody h3, .articleBody h4, .articleBody h5 {
  font-family: 'Serif' !important;
  font-weight: 700;
}

.articleIntro {
  text-align: center;
}

.articleIntro .meta {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;

}

.articleBody {
  display: flex;
  flex-direction: column;
}

.highlights {
  order: 2;
  width: 28%;
  border-radius: var(--radius-soft);
  justify-content: flex-start;
  padding: var(--spacing-medium);
  height: fit-content;
  flex-direction: column;
}

.highlights h3 {
  font-size: var(--font-size-5);
  margin-top: 0 !important;
}

@media only screen and (max-width: 768px) {
  article img {
    width: 100% !important;
  }

  article .wrapper {
    flex-direction: column;
  }

  .highlights {
    order: 0;
    margin-bottom: var(--spacing-large);
  }
}
