@media (prefers-color-scheme: light) {
  ::selection {
      background-color: var(--color-dark);
      color: var(--color-light);
  }

  input {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border-dark);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-lm.png");
  }

  a {
    color: var(--color-dark);
  }

  body {
    background-color: var(--color-shade-lm);
  }

  ol, ul {
    color: var(--color-dark);
  }

  .icon.work {
    background-image: url("../images/website/work-lm.png");
  }

  .icon.news {
    background-image: url("../images/website/news-lm.png");
  }

  .icon.school {
    background-image: url("../images/website/school-lm.png");
  }

  .icon.donate {
    background-image: url("../images/website/heart-lm.png");
  }

  .icon.email {
    background-image: url("../images/website/email-lm.png");
  }

  .icon.account {
    background-image: url("../images/website/account-lm.png");
  }

  .icon.codeIcon {
    background-image: url("../images/website/code-lm.png");
  }

  .icon.onion {
    background-image: url("../images/website/onion-lm.png");
  }

  .icon.lock {
    background-image: url("../images/website/lock-lm.png");
  }

  .icon.robot {
    background-image: url("../images/website/robot-lm.png");
  }

}

@media (prefers-color-scheme: dark) {
  ::selection {
      background-color: var(--color-light);
      color: var(--color-dark);
  }

  body {
    background-color: var(--color-dark);
  }

  input {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border-light-1);
  }

  label {
   color: var(--color-light);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-dm.png");
  }

  a {
    color: var(--color-light);
  }

  ol, ul {
    color: var(--color-light);
  }

  .icon.donate {
    background-image: url("../images/website/heart-dm.png");
  }

  .icon.work {
    background-image: url("../images/website/work-dm.png");
  }

  .icon.news {
    background-image: url("../images/website/news-dm.png");
  }

  .icon.school {
    background-image: url("../images/website/school-dm.png");
  }

  .icon.email {
    background-image: url("../images/website/email-dm.png");
  }

  .icon.account {
    background-image: url("../images/website/account-dm.png");
  }

  .icon.code {
    background-image: url("../images/website/code-dm.png");
  }

  .icon.onion {
    background-image: url("../images/website/onion-dm.png");
  }

  .icon.lock {
    background-image: url("../images/website/lock-dm.png");
  }

  .icon.robot {
    background-image: url("../images/website/robot-dm.png");
  }
}

:focus {
  text-decoration: underline;
  outline: solid;
}

.btn:focus {
  text-decoration: underline;
  outline: solid;
}

.hidden {
  display: none !important;
}

input {
  padding: var(--spacing-base);
  font-size: var(--font-size-body);
  max-width: 480px;
  width: 100%;
  border-radius: var(--radius-soft);
  font-family: 'Sans';
}

#who h3 {
  align-self: center;
  margin-bottom: 2rem;
}

input:focus {
  text-decoration: none;
}

input[type="search"] {
  background-size: 1.25rem;
  background-position: .75rem center;
  background-repeat: no-repeat;
  padding-left: calc(var(--spacing-xlarge) * .85);
}

label + input {
  margin-top: var(--spacing-small);
}

input + .btn {
  margin-top: var(--spacing-medium);
}

.label {
  font-family: 'Sans Bold';
}

label {
  font-family: 'Sans Bold';
  font-size: var(--font-size-small) !important;
}

input + label {
  margin-top: var(--spacing-medium);
}

html {
  scroll-padding-top: calc(var(--spacing-xxlarge) * 1.5);
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

a {
  cursor: pointer;
}

p + ul {
  margin-left: var(--spacing-base);
}

ul {
  margin: var(--spacing-small) 0;
}

ul li {
  margin: var(--spacing-base) 0;
  line-height: var(--line-height-base);
}

ul li:first-of-type {
  margin: 0;
}

img {
  margin: var(--spacing-base) 0;
  width: 100%;
}

header, article, section, footer {
  display: flex;
  justify-content: center;
}

.statementContainer {
  padding: calc(var(--spacing-xxlarge) * 2);
}

section:not(.intro) {
  padding: calc(var(--spacing-xxlarge) * 2.5) 0;
}

section {
  padding: calc(var(--spacing-xxlarge) * 2.5) 0 calc(var(--spacing-xxlarge) * 1.5) 0;
}

section:last-of-type {
  padding: calc(var(--spacing-xxlarge) * 2) 0;
}

.intro {
  padding: 0;
}


.wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 0 var(--spacing-large);
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 var(--spacing-medium);
  }

  .statementContainer, section:not(.intro) {
  padding: calc(var(--spacing-xxlarge) * 1.25) 0;
}

}
