@media (prefers-color-scheme: light) {
  .highlights {
    background-color: var(--color-shade-lm);
  }

  .aside {
    border: var(--border-dark);
    background-color: var(--color-light);
    box-shadow: var(--shadow-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .highlights {
    background-color: var(--color-shade-dm);
  }

  .aside {
    border: var(--border-light);
    background-color: var(--color-shade-dm);
    box-shadow: var(--shadow-dm);
  }
}

.articleBody h2, .articleBody h3, .articleBody h4, .articleBody h5 {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.category {
  text-transform: uppercase;
  font-family: 'Serif';
  font-size: var(--font-size-xsmall) !important;
  letter-spacing: var(--kern-wide);
}

.asideContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 2;
  margin-left: var(--spacing-large);
  max-width: 320px;
  width: 100%;
}

.aside {
  padding: var(--spacing-large) var(--spacing-medium);
  border-radius: var(--radius-soft);
  height: fit-content;
  display: flex;
  align-content: center;
  flex-direction: column;
  transition: .3s;
  align-self: stretch;
}

.withBtn {
  padding-bottom: var(--spacing-base);
}

.aside h3 {
  font-size: var(--font-size-5);
}

.aside ul, .aside ol {
  flex-direction: column;
  font-size: var(--font-size-small) !important;
  list-style: none;
}

.aside ol {
  list-style: number;
}

.aside li {
  margin-bottom: var(--spacing-small);
  line-height: var(--line-height-base);
  margin-left: var(--spacing-medium);
}

.aside ul li {
  margin-left: 0;
}

.aside .btn {
  align-self: center;
}

article {
  margin-bottom: var(--spacing-xxlarge);
  margin-left: auto;
  margin-right: auto;
}

article p {
  line-height: var(--line-height-wide);
  font-size: var(--font-size-article);
}

article img {
  max-width: 768px;
}

article .wrapper {
  flex-direction: row;
  justify-content: space-around;
}

article .withToc h3, article .withToc h4, article .withToc h5, article .withToc h6 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  max-width: 640px;
}

article .wrapper .asideContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.asideContainer .aside:first-of-type {
  margin-bottom: var(--spacing-base);
}

/* article .wrapper div:not(.aside) ul li a {
  font-size: var(--font-size-6);
} */

.articleBody h2, .articleBody h3, .articleBody h4, .articleBody h5 {
  font-family: 'Serif' !important;
  font-weight: 700;
}

.articleIntro {
  text-align: center;
}

.articleIntro .meta {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.articleIntro .tabs {
  align-items: center;
}

.articleBody {
  display: flex;
  flex-direction: column;
}

.highlights {
  order: 2;
  width: 28%;
  border-radius: var(--radius-soft);
  justify-content: flex-start;
  padding: var(--spacing-medium);
  height: fit-content;
  flex-direction: column;
}

.highlights h3 {
  font-size: var(--font-size-5);
  margin-top: 0 !important;
}

@media only screen and (max-width: 960px) {
  article .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .asideContainer {
    max-width: 480px !important;
    width: 100%;
    margin-bottom: var(--spacing-xxlarge);
    margin-left: 0;
    order: 0;
  }

  article .withToc h3, article .withToc h4, article .withToc h5, article .withToc h6 {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  article .withToc div:not(.aside) {
    align-items: center !important;
  }

  article .withToc h3, article .withToc h4, article .withToc h5, article .withToc h6 {
    margin-left: auto !important;
  }

}

@media only screen and (max-width: 768px) {
  article img {
    width: 100% !important;
  }

  article .wrapper {
    flex-direction: column;
  }

  .highlights {
    order: 0;
    margin-bottom: var(--spacing-large);
  }
}

@media only screen and (max-width: 640px) {
  .articleIntro .tabs {
    align-items: flex-start;
  }
}
