@media (prefers-color-scheme: light) {
  .pinnedList .table {
    border-right: var(--border-lm);
  }

  .pinnedList tr.selected {
    background-color: var(--color-light);
    border-left: 3px solid var(--color-dark);
  }

  .outgoing p:first-of-type {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .incoming p:first-of-type {
    background-color: white;
  }

  .detailView {
    background-color: var(--color-shade);
  }

  .chatHeader {
    background-color: white;
    border-top: var(--border-lm);
  }

  .message a {
    color: var(--color-light);
  }

  .noHeader .chatWindow {
    border-top: var(--border-lm);
  }

  .message .meta {
    color: var(--color-dark) !important;
    width: max-content;
  }
}

@media (prefers-color-scheme: dark) {
  .pinnedList .table {
    border-right: var(--border-dm);
  }

  .message.outgoing p {
    background-color: #c2c2c2;
    color: var(--color-dark);
  }

  .pinnedList tr.selected {
    background-color: var(--color-dark);
    border-left: 3px solid var(--color-light);
  }

  .detailView {
    background-color: var(--color-shade-dm);
  }

  .chatHeader {
    background-color: var(--color-dark);
    border-top: var(--border-dm);
  }

  .incoming p {
    background-color: var(--color-shade-dm);
  }

  .message a {
    color: var(--color-dark);
  }

  .noHeader .chatWindow {
    border-top: var(--border-dm);
  }

  .message .meta {
    color: var(--color-light) !important;
  }
}

/* CHAT USER LIST */

.pinnedList {
  width: 30%;
  margin-bottom: 0;
}

.pinnedList h2 {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    margin-bottom: 0;
    padding: var(--spacing-xsmall) var(--spacing-medium);
}

.pinnedList a {
  text-decoration: none;
}

.pinnedList .table {
  right: 70%;
}

.pinnedList th, .pinnedList td {
  padding: var(--spacing-small) var(--spacing-medium);
}

.pinnedList td {
  border-bottom: none;
  word-wrap: anywhere;
}

.pinnedList table {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

.pinnedList tr {
  display: block;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.pinnedList td:first-of-type {
  font-family: var(--font-sans-bold);
  font-size: calc(var(--font-size-body)*.9) !important;
  opacity: 1;
}

.pinnedList tr:first-of-type {
  display: none;
}

.pinnedList td {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--font-size-small);
  opacity: .75;
}

.pinnedList .table {
  top: 88px;
}

.userList tr {
  position: relative;
}

.simpleUserList tr {
  border-bottom: none;
}

.userList .meta {
  position: absolute;
  top: calc(var(--spacing-small) + 2.5px);
  right: 0;
}

.listUtilities .meta {
  position: initial;
  top: inherit;
  right: inherit;
}

.userList td:first-of-type {
  margin-bottom: calc(var(--spacing-xsmall) * .5);
}

.simpleUserList td:first-of-type {
  margin-bottom: inherit;
}

/* CHAT WINDOW */

.detailView {
  position: fixed;
  top: 88px;
  left: 30%;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}

.chatWindow {
  position: fixed;
  bottom: 73px;
  left: 30%;
  right: 0;
  top: 140px;
  overflow-y: scroll;
  padding: var(--spacing-base);
}

.chatHeader {
  position: fixed;
  top: 88px;
  right: 0;
  left: 30%;
  z-index: 1;
  padding: var(--spacing-base);
  text-align: center;
  z-index: 1;
}

.chatHeader p {
  font-size: var(--font-size-small);
  font-family: var(--font-sans-bold);
  margin: 0 auto;
}

.noHeader .chatWindow {
  top: 88px;
}

.messageRow {
  display: flex;
  width: 100%;
  margin-bottom: var(--spacing-base);
}
.messageRow.outgoing {
  justify-content: flex-end;
}

.message p:first-of-type {
  padding: var(--spacing-small) var(--spacing-base);
  margin-bottom: var(--spacing-xsmall);
  border-radius: var(--radius-soft);
}

.message .meta {
  opacity: .8;
  padding: 0 var(--spacing-base);
}

.outgoing .meta {
  float: right;
}

.chatMessages {
  margin-bottom: 0;
}

.messageComposer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 30%;
  padding: var(--spacing-small);
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .pinnedList .table {
    top: 74px;
  }

  .detailView {
    top: 74px;
  }
}

@media only screen and (max-width: 375px) {
  .pinnedList {
    width: 0%;
  }

  .pinnedList .table {
    right: 100%;
  }
  .detailView {
    left: 0;
  }

  .chatWindow {
    left: 0;
    top: 124px;
  }

  .chatHeader {
    top: 71px;
    right: 0;
    left: 0;
  }

  .messageComposer {
    left: 0;
  }
}
