@media (prefers-color-scheme: light) {
  .pinnedList .window {
    border-right: var(--border-lm);
  }

  .userName {
    background-color: white;
  }

  .pinnedList .card.selected {
    background-color: var(--color-shade-lm);
    border-left: 3px solid var(--color-dark);
  }

  .outgoing p:first-of-type {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .incoming p:first-of-type {
    background-color: white;
  }

  .detailView {
    background-color: var(--color-shade);
  }

  .chatHeader {
    background-color: white;
    border-top: var(--border-lm);
  }

  .message a {
    color: var(--color-light);
  }

  .noHeader .chatWindow {
    border-top: var(--border-lm);
  }

  .message .meta {
    color: var(--color-dark) !important;
    width: max-content;
  }

  .card {
    border-bottom: var(--border-lm);
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .pinnedList .window {
    border-right: var(--border-dm);
  }

  .outgoing p:first-of-type {
    background-color: #c2c2c2;
    color: var(--color-dark);
  }

  .pinnedList .card.selected {
    background-color: var(--color-shade-dm);
    border-left: 3px solid var(--color-light);
  }

  .detailView {
    background-color: var(--color-shade-dm);
  }

  .chatHeader {
    background-color: var(--color-dark);
    border-top: var(--border-dm);
  }

  .incoming p:first-of-type {
    background-color: var(--color-shade-dm);
  }

  .message a {
    color: var(--color-dark);
  }

  .noHeader .chatWindow {
    border-top: var(--border-dm);
  }

  .message .meta {
    color: var(--color-light) !important;
  }

  .card {
    border-bottom: var(--border-dm);
    background-color: var(--color-dark);
  }
}

/* CHAT USER LIST */

.pinnedList {
  width: 30%;
  margin-bottom: 0;
}

.pinnedList h2 {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    margin-bottom: 0;
    padding: var(--spacing-xsmall) var(--spacing-medium);
}

.pinnedList a {
  text-decoration: none;
}

.pinnedList .window {
  right: 70%;
}

.pinnedList .window {
  top: 88px;
}

.userList .card {
  position: relative;
}

.simpleUserList .card {
  border-bottom: none;
}

.userList .meta {
  position: absolute;
  top: calc(var(--spacing-small) + 6px);
  right: var(--spacing-base);
}

.listUtilities .meta {
  position: initial;
  top: inherit;
  right: inherit;
}

.cardMeta p:first-of-type {
  margin-bottom: calc(var(--spacing-xsmall) / 2);
  font-family: var(--font-sans-bold);
}

.simpleUserList .card:first-of-type {
  margin-bottom: inherit;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: var(--spacing-base);
  align-items: flex-start;
}

.simpleUserList .card {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.cardMeta {
  display: flex;
  flex-direction: column;
}

.cardMeta p {
  font-size: var(--font-size-small);
}

/* CHAT WINDOW */

.chatTabs {
  margin-top: 88px;
  padding-bottom: 0;
  display: none;
}

.detailView {
  position: fixed;
  top: 88px;
  left: 30%;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}

.chatWindow {
  position: fixed;
  bottom: 69px;
  left: 30%;
  right: 0;
  top: 141px;
  overflow-y: scroll;
  padding: var(--spacing-base);
}

.chatHeader {
  position: fixed;
  top: 88px;
  right: 0;
  left: 30%;
  z-index: 1;
  padding: var(--spacing-base);
  text-align: center;
  z-index: 1;
}

.chatHeader p {
  font-size: var(--font-size-small);
  font-family: var(--font-sans-bold);
  margin: 0 auto;
}

.noHeader.detailView {
  top: 88px;
}

.noHeader .chatWindow {
  top: 88px;
}

.messageRow {
  display: flex;
  width: 100%;
  margin-bottom: var(--spacing-base);
}

.chatAlert p {
  font-size: var(--font-size-xsmall) !important;
  opacity: .8;
  margin: var(--spacing-small) 0;
}

img.listAvatar {
  width: calc(var(--spacing-xlarge) * 1.1);
  margin-right: var(--spacing-small);
}

.pinnedList .windowRow {
  display: inherit;
}

.messageRow.outgoing {
  justify-content: flex-end;
}

.message p:first-of-type {
  padding: var(--spacing-small) var(--spacing-base);
  margin-bottom: var(--spacing-xsmall);
  border-radius: var(--radius-soft);
}

.message .meta {
  opacity: .8;
  padding: 0 var(--spacing-base);
}

.outgoing .meta {
  float: right;
}

.chatMessages {
  margin-bottom: 0;
}

.messageComposer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 30%;
  padding: var(--spacing-small);
  z-index: 1;
}

.mobilePinnedList {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .pinnedList {
    display: none;
  }

  .pinnedList .window {
    right: 100%;
    border-right: none;
  }

  .detailView {
    left: 0;
    top: 133px;
  }

  .chatWindow {
    left: 0;
  }

  .chatHeader {
    right: 0;
    left: 0;
    top: 133px;
  }

  .messageComposer {
    left: 0;
  }

  .chatTabs {
    display: inherit;
    top: 133px !important;
  }

  .chatWindow {
    top: 186px;
  }

  .noHeader.detailView {
    top: 133px;
  }

  .noHeader .chatWindow {
    top: 133px;
  }

}
