@media (prefers-color-scheme: light) {

  .messageComposer input {
    border: var(--border-lm);
  }

  input:focus {
    border: var(--border-input-focus-lm);
    box-shadow: var(--shadow-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .messageComposer {
  }

  .messageComposer input {
    border: var(--border-dm);
  }

  input[type="text"] {
    background-color: var(--color-shade-dm);
    color: var(--color-light);
  }

  input:focus {
    border: var(--border-input-focus-dm);
    box-shadow: var(--shadow-dm);
  }
}
.messageComposer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 30%;
  padding: var(--spacing-small);
}

.messageComposer input {
  width: 100%;
  padding: var(--spacing-small);
  font-size: var(--font-size-body);
  border-radius: var(--radius-soft);
}

@media only screen and (max-width: 480px) {}
