@media (prefers-color-scheme: light) {
  .messageComposer {
    background-color: var(--color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .messageComposer {
    background-color: var(--color-dark);
  }
}

.messageComposer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 25%;
  padding: var(--spacing-small);
}

.messageComposer input {
  width: 100%;
}

@media only screen and (max-width: 480px) {}
