@media (prefers-color-scheme: light) {
  .messageComposer {
    background-color: var(--color-light);
  }

  .messageComposer input {
    border: var(--border-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .messageComposer {
    background-color: var(--color-dark);
  }

  .messageComposer input {
    border: var(--border-dm);
  }
}

.messageComposer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 25%;
  padding: var(--spacing-small);
}

.messageComposer input {
  width: 100%;
  padding: var(--spacing-small);
  font-size: var(--font-size-body);
  border-radius: var(--radius-soft);
}

@media only screen and (max-width: 480px) {}
