@media (prefers-color-scheme: light) {

	.builderControls {
		background-color: var(--color-light-1);
		border-right: var(--border-dark-1);
	}

	.formControls {
		background-color: white;
		border-top: var(--border-dark-1);
		border-right: var(--border-dark-1);
	}

	.menuControlsBtn {
    	background-image: url('../../../images/icons/menu_open-lm.png');
  	}

	.closeBtn {
    	background-image: url('../../../images/icons/close-lm.png');
  	}
}


@media (prefers-color-scheme: dark) {
	.builderControls {
		border-right: var(--border-light-1);
		background-color: var(--color-shade-dm);
	}

	.menuControlsBtn {
    	background-image: url('../../../images/icons/menu_open-dm.png');
  	}

	.closeBtn {
    	background-image: url('../../../images/icons/close-dm.png');
  	}

	.formControls {
		border-top: var(--border-light-1);
		border-right: var(--border-light-1);
		background-color: var(--color-dark);
	}
}

.builder {
	display: flex;
	flex-direction: row;
	font-family: Helvetica, Arial, sans-serif !important;
}

.builder .hint {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold;
}

.builder h1, .builder h2, .builder h3, .builder h4, .builder h5, .builder h6, .builder .btn {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold;
}

.builder input, .builder textarea {
	font-family: Helvetica, Arial, sans-serif !important;
	line-height: var(--line-height-tight);
	font-size: var(--font-size-smaller);
	padding: var(--spacing-input);
}

.builderControls {
	justify-content: flex-start;
	flex-direction: column;
	padding: var(--spacing-base) !important;
	padding-bottom: calc(var(--spacing-base) + 68px) !important;
	position: fixed;
	top:0;
	bottom: 0;
	z-index: 11;
	width: var(--builder-controls);
	box-sizing: border-box;
	overflow: scroll;
}

.menuControlsBtn {
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--spacing-medium);
  height: var(--spacing-medium);
  margin-right: var(--spacing-small);
}

.flipped {
	transform: scaleX(-1);
}

.closeBtn {
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--spacing-medium);
  height: var(--spacing-medium);
  position: absolute;
  right: var(--spacing-base);
  top: calc(var(--spacing-medium) + var(--spacing-small));
}

.builderControls label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: var(--font-size-smaller) !important;
	margin-top: var(--spacing-base) !important;
}

.builderControls input, .builderControls textarea {
	width: auto;
}

.builderControls h2 {
	font-size: var(--font-size-6);
}

.builderControls h3 {
	font-size: var(--font-size-body);
	margin-bottom: 0;
	margin-top: calc(var(--spacing-large) * 1);
}

.builderControls h4 {
	font-size: var(--font-size-small);
	margin-top: calc(var(--spacing-large) * 1);
	margin-bottom: 0;
}

.builderControls h5 {
	font-size: var(--font-size-small);
	margin-top: calc(var(--spacing-large) * 1);
	margin-bottom: 0;
}

.builderControls h2 + h3 {
	margin-top: var(--spacing-small);
}

.builderBody {
	position: absolute;
	left: var(--builder-controls);
	right: 0;
}

.builderControls.hidden + .builderBody, 
.builderControls.hidden + .builderBody header,
.builderControls.hidden + .builderBody .banner {
	left: 0;
	right: 0;
	width: 100%;
}

.builderBody header, .builderBody .banner {
	left: var(--builder-controls);
	width: calc(100% - var(--builder-controls));
}

.formControls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: var(--builder-controls);
	display: flex;
	justify-content: center;
	padding: var(--spacing-small) 0;
}

.formControls .btn {
	align-self: center;
}

@media only screen and (max-width: 960px) {
	.builderBody {
		left: 0;
	}
	
	.builderBody header, .builderBody .banner {
		left: 0;
		width: 100%;
	}
}

