@media (prefers-color-scheme: light) {
  .tabs {
    border-bottom: var(--border-lm);
  }

  .tabs a:hover {
    border-bottom: 3px solid var(--color-dark);
  }

  .tabs a.selected {
    border-bottom: 3px solid var(--color-dark) !important;
  }

  .tabContainerScrolled {
    background-color: var(--color-light);
  }
}

@media (prefers-color-scheme: dark) {
  .tabs {
    border-bottom: var(--border-dm);
  }

  .tabs a:hover {
    border-bottom: 3px solid var(--color-light);
  }

  .tabs a.selected {
    border-bottom: 3px solid var(--color-light)  !important;
  }

  .tabContainerScrolled {
    background-color: var(--color-dark);
  }
}

.tabs.wrapper {
  width: 100%;
  padding: 0 var(--spacing-medium)!important;
}

.tabs h2 {
  font-size: var(--font-size-body);
  line-height: 0;
  display: inline;
  margin: 0 var(--spacing-medium) 0 0;
}

.tabs {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
}

.tabs a {
  display: inline-block;
  padding: var(--spacing-base) var(--spacing-base) calc(var(--spacing-base) - 3px) var(--spacing-base);
  text-decoration: none;
  transition: none;
  font-size: var(--font-size-small);
  border-bottom: 3px solid rgba(0,0,0,0);
}

.tabs a.selected {
  font-family: var(--font-sans-bold);
}

.tabContainerScrolled {
  position: fixed;
  top: 87px;
  width: 100%;
  z-index: 3;
  padding-top: 0;
}

.clonedTabs {
  display: none;
}

.clonedTabsVisible {
  display: flex;
}

@media only screen and (max-width: 960px) {
  .tabs.wrapper {
    padding: 0 var(--spacing-base)!important;
  }
}

@media only screen and (max-width: 768px) {
  .tabContainerScrolled {
    top: 70px;
  }

  .tabs.wrapper {
    padding: 0 var(--spacing-xsmall)!important;
  }
}

@media only screen and (max-width: 640px) {

}
