<section id="filters">
	<h2>🛠&nbsp;&nbsp;Page Builder</h2>
	<a class="navButton closeButton" href="#">
		<div class="close"></div>
	</a>
	<fieldset>
		<legend>Themes</legend>
		<div>
			<input type="checkbox" name="format" id="glow-theme" value="txt" autocomplete="off">
			<label for="glow-theme">Glow Theme</label>
		</div>
	</fieldset>
	<fieldset>
		<legend>Intro</legend>
		<div>
			<input type="radio" name="format" id="instructions-intro" value="txt" autocomplete="off">
			<label for="instructions-intro">Instructions</label>
		</div>
		<div>
			<input type="radio" name="format" id="home-intro" value="txt" autocomplete="off" checked>
			<label for="home-intro">Home</label>
		</div>
		<div>
			<input type="radio" name="format" id="secondary-intro" value="txt" autocomplete="off">
			<label for="secondary-intro">Secondary</label>
		</div>
		<div>
			<input type="radio" name="format" id="article-intro" value="txt" autocomplete="off">
			<label for="article-intro">Article</label>
		</div>
		<div>
			<input type="radio" name="format" id="book-cover-intro" value="txt" autocomplete="off">
			<label for="book-cover-intro">Book Cover</label>
		</div>
	</fieldset>
	<fieldset id="list-items">
		<legend>Components</legend>
		<div>
			<input type="checkbox" name="format" id="hint" value="txt" autocomplete="off" checked>
			<label for="hint">Homepage Scroll Hint</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-nav" value="txt" autocomplete="off">
			<label for="secondary-nav">Secondary Nav</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="statement" value="txt" autocomplete="off" checked>
			<label for="statement">Mission Statement</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="standard-item" autocomplete="off" value="txt" checked>
			<label for="standard-item">Standard</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="flipped-item" autocomplete="off" value="txt" checked>
			<label for="flipped-item">Flipped</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="mobile-item" autocomplete="off" value="txt" checked>
			<label for="mobile-item">Mobile</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="featured-item" autocomplete="off" value="txt">
			<label for="featured-item">Featured</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="primary-list" autocomplete="off" value="txt" checked>
			<label for="primary-list">Primary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="example-list" value="txt" autocomplete="off" checked>
			<label for="example-list">In The Wild</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="secondary-list" autocomplete="off" value="txt" checked>
			<label for="secondary-list">Secondary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="tertiary-list" autocomplete="off" value="txt" checked>
			<label for="tertiary-list">Tertiary Content</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="metadata-item" autocomplete="off" value="txt" checked>
			<label for="metadata-item">Metadata</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="button-item" autocomplete="off" value="txt" checked>
			<label for="button-item">Button</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="simple-item" autocomplete="off" value="txt" checked>
			<label for="simple-item">Simple</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="centered-item" autocomplete="off" value="txt" checked>
			<label for="centered-item">Centered</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="basic-list" autocomplete="off" value="txt" checked>
			<label for="basic-list">Basic List</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="item-avatar" autocomplete="off" value="txt" checked>
			<label for="item-avatar">About</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="item-list" autocomplete="off" value="txt" checked>
			<label for="item-list">Contact</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="article" value="txt" autocomplete="off">
			<label for="article">Article</label>
		</div>
		<div>
			<input type="checkbox" name="format" id="button-group" autocomplete="off" value="txt" checked>
			<label for="button-group">Pagination</label>
		</div>
	</fieldset>
</section>
