<aside>
	<section id="filters">
		<h2>Page Properties</h2>
		<fieldset>
			<legend>Themes</legend>
			<div>
				<input type="checkbox" name="format" id="glow-theme" value="txt" autocomplete="off">
				<label for="glow-theme">Glow Theme</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>Intro</legend>
			<div>
				<input type="radio" name="format" id="portfolio-intro" value="txt" autocomplete="off" checked>
				<label for="portfolio-intro">Portfolio</label>
			</div>
			<div>
				<input type="radio" name="format" id="editorial-intro" value="txt" autocomplete="off">
				<label for="editorial-intro">Editorial</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>Sections</legend>
			<div>
				<input type="checkbox" name="format" id="primary-list" value="txt" autocomplete="off" checked>
				<label for="primary-list">Primary List</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="minimal-list" autocomplete="off" value="txt" checked>
				<label for="minimal-list">Minimal List</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="item-avatar" autocomplete="off" value="txt" checked>
				<label for="item-avatar">Item with Avatar</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="three-row-list" autocomplete="off" value="txt" checked>
				<label for="three-row-list">Three Item Row List</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="two-row-list" autocomplete="off" value="txt" checked>
				<label for="two-row-list">Two Item Row List</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="item-list" autocomplete="off" value="txt" checked>
				<label for="item-list">Item with List</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="button-group" autocomplete="off" value="txt" checked>
				<label for="button-group">Button Group Item</label>
			</div>
		</fieldset>
		<fieldset id="list-items">
			<legend>List Items</legend>
			<div>
				<input type="checkbox" name="format" id="standard-item" autocomplete="off" value="txt" checked>
				<label for="standard-item">Standard Item</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="flipped-item" autocomplete="off" value="txt" checked>
				<label for="flipped-item">Flipped Standard Item</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="mobile-item" autocomplete="off" value="txt" checked>
				<label for="mobile-item">Mobile Item</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="featured-item" autocomplete="off" value="txt" checked>
				<label for="featured-item">Featured Item</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="simple-item" autocomplete="off" value="txt" checked>
				<label for="simple-item">Simple Item</label>
			</div>
			<div>
				<input type="checkbox" name="format" id="centered-item" autocomplete="off" value="txt" checked>
				<label for="centered-item">Centered Item</label>
			</div>
		</fieldset>
	</section>
</aside>
