@media (prefers-color-scheme: light) {
  .toggleContainer {
    border: var(--border-dark);
    box-shadow: var(--shadow-lm-tight);
  }

  input:checked + .slider {
    background-color: var(--color-dark);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-dark);
  }

}

@media (prefers-color-scheme: dark) {
  input:checked + .slider {
    background-color: var(--color-light) !important;
    border: none;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-dark);
  }

  .slider {
    background-color: var(--color-dark) !important;
    border: var(--border-light-1);
  }

  .slider::before {
    background-color: var(--color-shade-lm) !important;
    border: var(--border-light-1);
  }

   input:checked + .slider::before {
      background-color: var(--color-dark) !important;
  }
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-base);
  border-radius: var(--radius-softer);
  width: max-content;
  margin: var(--spacing-small) 0;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--radius-round);
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
}
