@media (prefers-color-scheme: light) {

  .table {
    border-top: var(--border-lm);
  }

  table {
    color:var(--font-color-dark);
    background-color:var(--color-light);
  }

  th, td {
    border-bottom: var(--border-lm);
  }

  th {
    background-color: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  .table {
    border-top: var(--border-dm);
  }

  table {
    color:var(--font-color-light);
    background-color:var(--color-dark);
  }

  th, td {
    border-bottom: var(--border-dm);
  }

  th {
    background-color: #2B2B2B;
  }
}

.table {
  top: 86px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0!important;
  position: fixed;
  overflow-y: scroll;
}

table {
  font-size: var(--font-size-small);
  line-height: var(--line-height-body);
  text-align: left;
  width: 100%;
  z-index: 2;
  position: relative;
  border-collapse: inherit;
}

th {
  font-family: var(--font-sans-bold);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

th, td {
  padding: var(--spacing-xsmall) var(--spacing-xlarge) ;
}

@media only screen and (max-width: 960px) {

  th, td {
    padding: var(--spacing-xsmall) var(--spacing-large) ;
  }
}

@media only screen and (max-width: 768px) {
  .table {
    top: 71px;
  }

  th, td {
    padding: var(--spacing-xsmall) var(--spacing-medium) ;
  }
}

@media only screen and (max-width: 375px) {
  .table {
    top: 71px;
  }

  th, td {
    padding: var(--spacing-small) var(--spacing-medium) ;
  }
}
